/* Hero - AT&T Business main hero banner */
main > .section.hero-container {
  padding: 0;
}

.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 380px;
  overflow: hidden;
  background-color: var(--bg-light);
}

.hero > div {
  position: relative;
  z-index: 1;
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 48px 24px;
  width: 100%;
}

.hero h1 {
  font-size: var(--heading-font-size-xxl);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.03em;
  color: var(--text-color);
  max-width: 550px;
  margin-top: 0;
  margin-bottom: 16px;
}

.hero p {
  color: var(--text-body);
  font-size: var(--body-font-size-m);
  max-width: 550px;
}

.hero picture {
  position: absolute;
  z-index: 0;
  inset: 0;
  left: 35%;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center right;
}

@media (width >= 900px) {
  .hero {
    min-height: 480px;
  }

  .hero > div {
    padding: 64px 32px;
  }
}
