/* ATT Aleck Sans - Self-hosted from AT&T Business */
@font-face {
  font-family: 'ATT Aleck Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/ATTAleckSans_W_Lt.woff2') format('woff2');
}

@font-face {
  font-family: 'ATT Aleck Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/ATTAleckSans_W_Rg.woff2') format('woff2');
}

@font-face {
  font-family: 'ATT Aleck Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/ATTAleckSans_W_Md.woff2') format('woff2');
}

@font-face {
  font-family: 'ATT Aleck Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/ATTAleckSans_W_Bd.woff2') format('woff2');
}
