.hero-attbiz-container .hero-attbiz-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-attbiz {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-attbiz h1,
.hero-attbiz h2,
.hero-attbiz h3,
.hero-attbiz h4,
.hero-attbiz h5,
.hero-attbiz h6,
.hero-attbiz p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-attbiz.no-image * {
  color: var(--text-color);
}

.hero-attbiz picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-attbiz img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-attbiz {
    padding: 40px 32px;
  }
}
